<!-- begin:slider -->
<div id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
        <ol id="intro" class="carousel-indicators">
            <li data-target="#home-slider" data-slide-to="0" class="active"></li>
            <li data-target="#home-slider" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active" style="background: url(../img/happy_birthday.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="carousel-content">
                                <h2 class="animated fadeInUpBig text-center text-black">Hallooo, Sweety</h2>
                                <p class="animated rollIn text-black text-center"><span class="text900">Willkommen</span> auf deiner persönlichen Geburtstagsseite!
                                    <br><br> <a ng-click="goToIntro()" class="btn btn-warning btn-lg">I <i class="fa fa-heart-o"></i> you!</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" style="background: url(../img/love_sun.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="carousel-content">
                                <h3 class="animated fadeInLeftBig text-left">A Sweety Website Production</h3>
                                <p class="animated fadeInDownBig text-left">Brought to you with <i class="fa fa-heart-o"></i> by the Sweety</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#home-slider" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right carousel-control" href="#home-slider" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
        <div class="pattern"></div>
    </div>

</div>
<!-- end:slider -->